openapi: 3.0.0
info:
  description: Veem REST API
  title: Veem API v1.2
  version: v1.2.1
servers:
- url: //sandbox-api.veem.com
tags:
- description: Bank Account Controller
  name: bank-account-controller
- description: For managing crypto wallets, including balances, details, transactions and pay-ins
  name: crypto-wallet-controller
- description: Invoice Controller
  name: invoice-controller
- description: Payment Controller
  name: payment-controller
- description: Open Account Controller
  name: open-account-controller
- description: Beneficial Owner Information Controller
  name: beneficial-owner-information-controller
- description: Claimless Payment Controller
  name: claimless-payment-controller
- description: Contact Controller
  name: contact-controller
- description: Webhook Controller
  name: webhook-controller
- description: Attachment Controller
  name: attachment-controller
- description: Meta Controller
  name: meta-controller
- description: Wallet Controller
  name: wallet-controller
- description: Exchange Rate Controller
  name: exchange-rate-controller
- description: Customer Controller
  name: customer-controller
paths:
  /veem/v1.2/account/bank-account:
    post:
      deprecated: false
      operationId: addBankAccountUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/BankAccountRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountResponse'
          description: Created
      summary: addBankAccount
      tags:
      - bank-account-controller
  /veem/v1.2/crypto-wallet/applications/{applicationId}/add-currency:
    post:
      deprecated: false
      description: Provisions an additional currency or route for an existing crypto wallet application.
      operationId: addCryptoWalletApplicationCurrency
      parameters:
      - description: Unique identifier of the crypto wallet application.
        in: path
        name: applicationId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CryptoWalletAddCurrencyRequest'
        description: Currency details to add to the application
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWalletProvisionResponse'
          description: Currency added to crypto wallet application successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request body
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Add a currency to a crypto wallet application
      tags:
      - crypto-wallet-controller
  /veem/v1.2/invoices/{invoiceId}/approve:
    post:
      deprecated: false
      description: approve an invoice
      operationId: approveInvoiceUsingPOST_2
      parameters:
      - description: invoiceId
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
          description: Success, an approved invoice object is returned
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: approveInvoice
      tags:
      - invoice-controller
  /veem/v1.2/payments/{paymentId}/approve:
    post:
      deprecated: false
      description: approve a payment
      operationId: approvePaymentUsingPOST_2
      parameters:
      - description: paymentId
        in: path
        name: paymentId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: Success, an approved payment object is returned
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: approvePayment
      tags:
      - payment-controller
  /veem/v1.2/invoices/{invoiceId}/cancel:
    post:
      deprecated: false
      description: cancel an invoice
      operationId: cancelInvoiceUsingPOST_2
      parameters:
      - description: invoiceId
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
          description: Success, a cancelled invoice object is returned
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: cancelInvoice
      tags:
      - invoice-controller
  /veem/v1.2/account:
    post:
      deprecated: false
      operationId: createAccountUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAccountRequest'
        description: request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetUpAccountResponse'
          description: Created
      summary: createAccount
      tags:
      - open-account-controller
  /veem/v1.2/beneficial-ownership:
    post:
      deprecated: false
      operationId: createBoiUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BOIRequest'
        description: boiRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficialOwnerResponse'
          description: Created
      summary: createBoi
      tags:
      - beneficial-owner-information-controller
    get:
      deprecated: false
      operationId: getBoiUsingGET
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficialOwnerResponse'
          description: OK
      summary: getBoi
      tags:
      - beneficial-owner-information-controller
  /veem/v1.2/claimless-payments:
    post:
      deprecated: false
      description: Creates a pay direct payment to the payee's (receiver's) bank account
      operationId: createClaimLessPaymentUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/PaymentRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: Success, a payment is created in Veem
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: createClaimlessPayment
      tags:
      - claimless-payment-controller
  /veem/v1.2/contacts/batch:
    post:
      deprecated: false
      description: Create multiple contacts in a batch
      operationId: createContactsUsingPOST_2
      parameters:
      - description: includeItems
        in: query
        name: includeItems
        required: false
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ContactBatchItemRequest'
              type: array
        description: request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
          description: Request data validated, processing started
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid request data, no requests were processed
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner lacks permission to operate the current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: createContacts
      tags:
      - contact-controller
  /veem/v1.2/contacts:
    post:
      deprecated: false
      description: Create a contact in a batch
      operationId: createContactUsingPOST_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRequest'
        description: request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
          description: New contact was successfully created and returned
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request data, no requests were processed
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner lacks permission to operate the current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: createContact
      tags:
      - contact-controller
    get:
      deprecated: false
      description: Get a page of account contacts by email address, first,last name, batchId, and business name
      operationId: getContactsUsingGET_2
      parameters:
      - description: batchId
        in: query
        name: batchId
        required: false
        schema:
          format: int64
          type: integer
      - description: batchItemIds
        explode: true
        in: query
        name: batchItemIds
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
      - description: businessName
        in: query
        name: businessName
        required: false
        schema:
          type: string
      - description: email
        in: query
        name: email
        required: false
        schema:
          type: string
      - description: firstName
        in: query
        name: firstName
        required: false
        schema:
          type: string
      - description: lastName
        in: query
        name: lastName
        required: false
        schema:
          type: string
      - description: pageNumber
        in: query
        name: pageNumber
        required: false
        schema:
          default: 0
          format: int32
          type: integer
      - description: pageSize
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactResponse'
                type: array
          description: Success, all matching contacts were returned
        '400':
          description: Request failed, invalid search parameters
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner lacks permission to operate the current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: getContacts
      tags:
      - contact-controller
  /veem/v1.2/crypto-wallet/applications:
    post:
      deprecated: false
      description: Creates a new crypto wallet application.
      operationId: createCryptoWalletApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CryptoWalletApplicationRequest'
        description: Crypto wallet application details
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWalletApplicationResponse'
          description: Crypto wallet application created successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request body
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Create a crypto wallet application
      tags:
      - crypto-wallet-controller
  /veem/v1.0/payments/cryptowallet/payin:
    post:
      deprecated: false
      description: Creates deposit instructions for moving funds to a crypto wallet externally.
      operationId: createCryptoWalletPayin
      parameters:
      - description: Identifier of the account the pay-in is created on behalf of.
        in: query
        name: onBehalfAccountId
        required: false
        schema:
          format: int64
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/PayinRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicInvoiceResponseCryptoWallet'
          description: Success, a crypto wallet pay-in is created in Veem
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: Create a Crypto Wallet pay-in
      tags:
      - payment-controller
  /veem/v1.0/payments/cryptowallet/payout:
    post:
      deprecated: false
      description: Withdraw Crypto Wallet funds to an external address, creating a payment.
      operationId: createCryptoWalletPayout
      parameters:
      - description: Identifier of the account the payout is created on behalf of.
        in: query
        name: onBehalfAccountId
        required: false
        schema:
          format: int64
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/PayoutRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicInvoiceResponseCryptoWallet'
          description: Success, a crypto wallet payout is created in Veem
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: Create a Crypto Wallet payout
      tags:
      - payment-controller
  /veem/v1.2/invoices:
    post:
      deprecated: false
      description: posts an invoice and sends to receiver
      operationId: createInvoiceUsingPOST_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceRequest'
        description: request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
          description: Success, an invoice is created in Veem
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: createInvoice
      tags:
      - invoice-controller
  /veem/v1.2/account/{accountId}/setting:
    post:
      deprecated: false
      description: Creates or updates account settings for a specific account
      operationId: createOrUpdateAccountSettingsUsingPOST
      parameters:
      - description: The account ID
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicAccountSettingsRequest'
        description: Account settings request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAccountSettingResponse'
          description: Success, account settings have been created or updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request, invalid request data
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: createOrUpdateAccountSettings
      tags:
      - open-account-controller
  /veem/v1.2/payments:
    post:
      deprecated: false
      description: post a payment and sends to receiver
      operationId: createPaymentUsingPOST_2
      requestBody:
        $ref: '#/components/requestBodies/PaymentRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: Success, a payment is created in Veem
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: createPayment
      tags:
      - payment-controller
  /veem/v1.2/webhooks:
    post:
      deprecated: false
      description: Creates a webhook configuration for the account and platform associated with the provided authorization token
      operationId: createWebhookUsingPOST_2
      requestBody:
        $ref: '#/components/requestBodies/WebhookRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
          description: Success, the webhook configuration was created and returned.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request body
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Create webhook
      tags:
      - webhook-controller
    get:
      deprecated: false
      description: Gets all active webhook configurations for the account and platform associated with the provided authorization token.
      operationId: getWebhooksUsingGET_2
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WebhookResponse'
                type: array
          description: Success, all active webhook configurations were returned.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Get webhooks
      tags:
      - webhook-controller
  /veem/v1.2/webhooks/{webhookId}:
    delete:
      deprecated: false
      description: Deletes the webhook configuration with the specified ID if it is owned by the account and platform associated with the provided authorization token
      operationId: deleteWebhookUsingDELETE_2
      parameters:
      - description: webhookId
        in: path
        name: webhookId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
          description: Success, the webhook configuration was deleted and returned.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: A webhook configuration with the specified ID was not found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Delete webhook
      tags:
      - webhook-controller
    get:
      deprecated: false
      description: Gets the webhook configuration with the specified ID if it is owned by the account and platform associated with the provided authorization token.
      operationId: getWebhookUsingGET_2
      parameters:
      - description: webhookId
        in: path
        name: webhookId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
          description: Success, the webhook configuration was returned.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: A webhook configuration with the specified ID was not found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Get webhook
      tags:
      - webhook-controller
    patch:
      deprecated: false
      description: Updates the webhook configuration with the specified ID if it is owned by the account and platform associated with the provided authorization token
      operationId: updateWebhookUsingPATCH_2
      parameters:
      - description: webhookId
        in: path
        name: webhookId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/WebhookRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
          description: Success, the webhook configuration was updated and returned.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request body
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: A webhook configuration with the specified ID was not found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Update webhook
      tags:
      - webhook-controller
  /veem/v1.2/attachments:
    get:
      deprecated: false
      operationId: downloadAttachmentUsingGET_2
      parameters:
      - allowEmptyValue: false
        description: The file name from the upload response
        in: query
        name: name
        required: false
        schema:
          type: string
      - allowEmptyValue: false
        description: The unique reference ID from the upload response
        in: query
        name: referenceId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/octet-stream:
              schema:
                format: byte
                type: string
          description: OK
        '400':
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid name and referenceId combination
      summary: Downloads the referenced file
      tags:
      - attachment-controller
    post:
      deprecated: false
      operationId: uploadAttachmentUsingPOST_2
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: file
                  format: binary
                  type: string
              required:
              - file
              type: object
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileAttachment'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported file extension; Unable to upload file
      summary: Uploads the external attachment for an entity Payment or Invoice
      tags:
      - attachment-controller
  /veem/v1.2/account/{accountId}:
    patch:
      deprecated: false
      operationId: editAccountUsingPATCH
      parameters:
      - description: accountId
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
        description: request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetUpAccountResponse'
          description: OK
      summary: editAccount
      tags:
      - open-account-controller
    get:
      deprecated: false
      operationId: getAccountUsingGET
      parameters:
      - description: accountId
        in: path
        name: accountId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetUpAccountResponse'
          description: OK
      summary: getAccount
      tags:
      - open-account-controller
  /veem/v1.2/account/bank-account/{bankAccountId}:
    patch:
      deprecated: false
      operationId: editBankAccountUsingPATCH
      parameters:
      - description: bankAccountId
        in: path
        name: bankAccountId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/BankAccountRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountResponse'
          description: OK
      summary: editBankAccount
      tags:
      - bank-account-controller
  /veem/v1.2/contacts/batch/{batchId}:
    get:
      deprecated: false
      description: Get the current state of a contact creation batch
      operationId: getContactBatchUsingGET_2
      parameters:
      - description: batchId
        in: path
        name: batchId
        required: true
        schema:
          format: int64
          type: integer
      - description: includeItems
        in: query
        name: includeItems
        required: false
        schema:
          default: true
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
          description: Request data validated, processing started
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid request data, no requests were processed
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner lacks permission to operate the current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: getContactBatch
      tags:
      - contact-controller
  /veem/v1.2/contacts/{contactId}:
    get:
      deprecated: false
      description: Get an account contact by ID
      operationId: getContactUsingGET_2
      parameters:
      - description: contactId
        in: path
        name: contactId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
          description: Found and returned contact
        '400':
          description: Request failed, invalid parameters
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner lacks permission to operate the current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: Get Contact by ID
      tags:
      - contact-controller
  /veem/public/v1.2/country-currency-map:
    get:
      deprecated: false
      description: Returns a list of countries supported and currencies for each
      operationId: getCountryCurrencyMapUsingGET_2
      parameters:
      - description: bankFields
        in: query
        name: bankFields
        required: false
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CountryCurrencyResponse'
                type: array
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: Country Currency Map
      tags:
      - meta-controller
  /veem/v1.2/crypto-wallet/applications/{applicationId}:
    get:
      description: Returns a specific crypto wallet application.
      operationId: getCryptoWalletApplication
      parameters:
      - description: Unique identifier of the crypto wallet application.
        in: path
        name: applicationId
        required: true
        schema:
          format: int64
          type: integer
      - description: Identifier of the account the request is made on behalf of.
        in: query
        name: onBehalfAccountId
        required: false
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWalletApplicationResponse'
          description: Crypto wallet application retrieved successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request body
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Retrieve a crypto wallet application by ID
      tags:
      - crypto-wallet-controller
    patch:
      description: Updates an existing crypto wallet application.
      operationId: patchCryptoWalletApplication
      parameters:
      - description: Unique identifier of the crypto wallet application.
        in: path
        name: applicationId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CryptoWalletApplicationRequest'
        description: Updated crypto wallet application details
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWalletApplicationResponse'
          description: Crypto wallet application updated successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request body
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Update a crypto wallet application
      tags:
      - crypto-wallet-controller
  /veem/v1.2/crypto-wallet/applications/{applicationId}/routes/{routeId}:
    get:
      description: Returns a specific route for a crypto wallet application.
      operationId: getCryptoWalletApplicationRoute
      parameters:
      - description: Unique identifier of the crypto wallet application.
        in: path
        name: applicationId
        required: true
        schema:
          format: int64
          type: integer
      - description: Unique identifier of the crypto wallet application route.
        in: path
        name: routeId
        required: true
        schema:
          format: int64
          type: integer
      - description: Identifier of the account the request is made on behalf of.
        in: query
        name: onBehalfAccountId
        required: false
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWalletApplicationRouteResponse'
          description: Crypto wallet application route retrieved successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request body
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Retrieve a crypto wallet application route by ID
      tags:
      - crypto-wallet-controller
  /veem/v1.2/crypto-wallet/applications/{applicationId}/routes:
    get:
      description: Returns the routes for a specific crypto wallet application.
      operationId: getCryptoWalletApplicationRoutes
      parameters:
      - description: Unique identifier of the crypto wallet application.
        in: path
        name: applicationId
        required: true
        schema:
          format: int64
          type: integer
      - description: Identifier of the account the request is made on behalf of.
        in: query
        name: onBehalfAccountId
        required: false
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CryptoWalletApplicationRouteResponse'
                type: array
          description: List of crypto wallet application routes retrieved successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request body
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Retrieve crypto wallet application routes
      tags:
      - crypto-wallet-controller
  /veem/v1.2/crypto-wallet/balance/{fundingMethodId}:
    get:
      description: Returns the balance details of a specific crypto wallet.
      operationId: getCryptoWalletBalanceById
      parameters:
      - description: Unique identifier of the crypto wallet funding method.
        in: path
        name: fundingMethodId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWalletBalanceResponse'
          description: Crypto wallet balance retrieved successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request body
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Retrieve crypto wallet balance by funding method ID
      tags:
      - crypto-wallet-controller
  /veem/v1.2/crypto-wallet/balance:
    get:
      description: Returns a list of balance details for all crypto wallets.
      operationId: getCryptoWalletBalances
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CryptoWalletBalanceResponse'
                type: array
          description: List of crypto wallet balances retrieved successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request body
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Retrieve all crypto wallet balances
      tags:
      - crypto-wallet-controller
  /veem/v1.2/crypto-wallet/details:
    get:
      description: Returns a list of details for all crypto wallets.
      operationId: getCryptoWalletDetails
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CryptoWalletDetailsResponse'
                type: array
          description: List of crypto wallet details retrieved successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request body
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Retrieve all crypto wallet details
      tags:
      - crypto-wallet-controller
  /veem/v1.2/crypto-wallet/details/{fundingMethodId}:
    get:
      description: Returns detailed information for a specific crypto wallet.
      operationId: getCryptoWalletDetailsById
      parameters:
      - description: Unique identifier of the crypto wallet funding method.
        in: path
        name: fundingMethodId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWalletDetailsResponse'
          description: Crypto wallet details retrieved successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request body
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Retrieve crypto wallet details by funding method ID
      tags:
      - crypto-wallet-controller
  /veem/v1.2/crypto-wallet:
    get:
      deprecated: false
      description: Gets the Crypto Wallet information for the payer, including status, currency and chain details.
      operationId: getCryptoWallets
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoWalletPublicAPIResponse'
          description: Success, all active Crypto Wallets retrieved successfully.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Get payer's Crypto Wallets
      tags:
      - crypto-wallet-controller
  /veem/v1.2/crypto-wallet/transactions/{fundingMethodId}:
    get:
      description: Returns paginated transactions for a crypto wallet within a specified date range.
      operationId: getCryptoWalletTransactions
      parameters:
      - description: Unique identifier of the crypto wallet funding method.
        in: path
        name: fundingMethodId
        required: true
        schema:
          format: int64
          type: integer
      - description: 'The page number for paginated results (initial: 0).'
        in: query
        name: pageNumber
        required: false
        schema:
          default: 0
          format: int32
          type: integer
      - description: 'The number of results per page (max: 25).'
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
      - description: The start date and time for transaction filtering.
        in: query
        name: startDate
        required: true
        schema:
          format: date-time
          type: string
      - description: The end date and time for transaction filtering.
        in: query
        name: endDate
        required: true
        schema:
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponseTransactionReportItem'
          description: Paginated list of transactions retrieved successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Invalid request body
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Forbidden, the token owner doesn't have permission to operate this API
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VeemErrorResponse'
          description: Internal Server Error, see the error code and API doc for reference
      summary: Retrieve crypto wallet transactions
      tags:
      - crypto-wallet-controller
  /veem/v1.2/wallets:
    get:
      deprecated: false
      description: Return user's wallet balance
      operationId: getFundingMethodsUsingGET_3
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFundingMethodResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: Get Wallet Balance
      tags:
      - wallet-controller
  /veem/v1.2/wallets/{walletId}:
    get:
      deprecated: false
      description: Return user's wallet by id
      operationId: getFundingMethodsUsingGET_6
      parameters:
      - description: walletId
        in: path
        name: walletId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFundingMethodResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: Get Wallet by id
      tags:
      - wallet-controller
  /veem/v1.2/invoices/{invoiceId}:
    get:
      deprecated: false
      description: get invoice details
      operationId: getInvoiceUsingGET_2
      parameters:
      - description: invoiceId
        in: path
        name: invoiceId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
          description: Success, an invoice object is returned
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: getInvoice
      tags:
      - invoice-controller
  /veem/v1.2/payments/{paymentId}:
    get:
      deprecated: false
      description: get payment details
      operationId: getPaymentUsingGET_2
      parameters:
      - description: paymentId
        in: path
        name: paymentId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: Success, a payment object is returned
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: getPayment
      tags:
      - payment-controller
  /veem/v1.2/exchangerates/quote/enhanced-1:
    post:
      deprecated: false
      description: Submits a request to generate an enhanced (fixedFee is included) quote
      operationId: getQuoteEnhancedUsingPOST-1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequest'
        description: request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
          description: Success, a quote has been created in Veem
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: Copy of getQuoteEnhanced
      tags:
      - exchange-rate-controller
  /veem/v1.2/exchangerates/quote/enhanced:
    post:
      deprecated: false
      description: Submits a request to generate an enhanced (fixedFee is included) quote
      operationId: getQuoteEnhancedUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequest'
        description: request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
          description: Success, a quote has been created in Veem
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: getQuoteEnhanced
      tags:
      - exchange-rate-controller
  /veem/v1.2/customers:
    get:
      deprecated: false
      description: Search Veem Contacts
      operationId: searchCustomersUsingGET_2
      parameters:
      - description: email
        in: query
        name: email
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAccountResponse'
          description: A page of Veem customers matching the search criteria is returned
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid email address in request parameter
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner lacks permission to operate the current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: searchCustomers
      tags:
      - customer-controller
  /veem/v1.0/payments/wallet/addFunds:
    post:
      deprecated: false
      description: Wallet Add Funds
      operationId: walletAddFundsUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/AddWalletFundsRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: Success, a wallet deposit payment is created in Veem
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: walletAddFunds
      tags:
      - payment-controller
  /veem/v1.0/payments/wallet/withdraw:
    post:
      deprecated: false
      description: Wallet Withdraw
      operationId: walletWithdrawUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/WalletWithdrawRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: Success, a wallet withdraw payment is created in Veem
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized, the token is invalid or expired
        '401':
          description: Unauthorized, the token is invalid or expired
        '403':
          description: Forbidden, the token owner doesn't have permission to operate current API
        '404':
          description: Not Found, the resource not found
        '500':
          description: Internal Server Error, see the error code and API doc for reference
      summary: walletWithdraw
      tags:
      - payment-controller
components:
  requestBodies:
    BankAccountRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BankAccountRequest'
      description: request
      required: true
    PaymentRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequest'
      description: request
      required: true
    PayinRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PayinRequest'
      description: request
      required: true
    PayoutRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PayoutRequest'
      description: request
      required: true
    WebhookRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookRequest'
      description: request
      required: true
    AddWalletFundsRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AddWalletFundsRequest'
      description: request
      required: true
    WalletWithdrawRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WalletWithdrawRequest'
      description: request
      required: true
  schemas:
    AddressRequest:
      properties:
        city:
          description: City
          type: string
        line1:
          description: Address line 1
          type: string
        line2:
          description: Address line 2
          type: string
        postalCode:
          description: Postal code
          type: string
        province:
          type: string
        state:
          type: string
        stateProvince:
          description: State or province
          type: string
      required:
      - city
      - line1
      - line2
      - postalCode
      - stateProvince
      title: AddressRequest
      type: object
    AlignMonetaryAmount:
      properties:
        currency:
          enum:
          - AED
          - AFN
          - ALL
          - AMD
          - ANG
          - AOA
          - ARS
          - AUD
          - AWG
          - AZN
          - BAM
          - BBD
          - BDT
          - BGN
          - BHD
          - BIF
          - BMD
          - BND
          - BOB
          - BOV
          - BRL
          - BSD
          - BTN
          - BWP
          - BYN
          - BYR
          - BZD
          - CAD
          - CDF
          - CHE
          - CHF
          - CHW
          - CLF
          - CLP
          - CNY
          - COP
          - COU
          - CRC
          - CUC
          - CUP
          - CVE
          - CZK
          - DJF
          - DKK
          - DOP
          - DZD
          - EGP
          - ERN
          - ETB
          - EUR
          - FJD
          - FKP
          - GBP
          - GEL
          - GHS
          - GIP
          - GMD
          - GNF
          - GTQ
          - GYD
          - HKD
          - HNL
          - HRK
          - HTG
          - HUF
          - IDR
          - ILS
          - INR
          - IQD
          - IRR
          - ISK
          - JMD
          - JOD
          - JPY
          - KES
          - KGS
          - KHR
          - KMF
          - KPW
          - KRW
          - KWD
          - KYD
          - KZT
          - LAK
          - LBP
          - LKR
          - LRD
          - LSL
          - LTL
          - LYD
          - MAD
          - MDL
          - MGA
          - MKD
          - MMK
          - MNT
          - MOP
          - MRO
          - MRU
          - MUR
          - MVR
          - MWK
          - MXN
          - MXV
          - MYR
          - MZN
          - NAD
          - NGN
          - NIO
          - NOK
          - NPR
          - NZD
          - OMR
          - PAB
          - PEN
          - PGK
          - PHP
          - PKR
          - PLN
          - PYG
          - QAR
          - RON
          - RSD
          - RUB
          - RUR
          - RWF
          - SAR
          - SBD
          - SCR
          - SDG
          - SEK
          - SGD
          - SHP
          - SLL
          - SOS
          - SRD
          - SSP
          - STD
          - STN
          - SVC
          - SYP
          - SZL
          - THB
          - TJS
          - TMT
          - TND
          - TOP
          - TRY
          - TTD
          - TWD
          - TZS
          - UAH
          - UGX
          - USD
          - USN
          - USS
          - UYI
          - UYU
          - UZS
          - VEF
          - VND
          - VUV
          - WST
          - XAF
          - XAG
          - XAU
          - XBA
          - XBB
          - XBC
          - XBD
          - XCD
          - XDR
          - XOF
          - XPD
          - XPF
          - XPT
          - XSU
          - XTS
          - XUA
          - XXX
          - YER
          - ZAR
          - ZMW
          - ZWL
          type: string
        number:
          type: number
      title: AlignMonetaryAmount
      type: object
    BankAccountAddressDTO:
      properties:
        bankAccountId:
          format: int64
          type: integer
        city:
          type: string
        id:
          format: int64
          type: integer
        line1:
          type: string
        line2:
          type: string
        postalCode:
          type: string
        province:
          type: string
        state:
          type: string
      title: BankAccountAddressDTO
      type: object
    BankAccountRequest:
      properties:
        accountType:
          type: string
        bankAccountNumber:
          type: string
        bankAddress:
          $ref: '#/components/schemas/AddressRequest'
        bankCnaps:
          type: string
        bankCode:
          type: string
        bankIfscBranchCode:
          type: string
        bankInstitutionNumber:
          type: string
        bankName:
          type: string
        beneficiaryName:
          type: string
        branchCode:
          type: string
        bsbBankCode:
          type: string
        clabe:
          type: string
        currencyCode:
          type: string
        iban:
          type: string
        isoCountryCode:
          type: string
        routingNumber:
          type: string
        sortCode:
          type: string
        swiftBic:
          type: string
        transitCode:
          type: string
      title: BankAccountRequest
      type: object
    BankAccountResponse:
      properties:
        accountHash:
          type: string
        accountId:
          format: int64
          type: integer
        accountNickname:
          type: string
        accountNumber:
          type: string
        accountType:
          enum:
          - Checking
          - Savings
          type: string
        address:
          $ref: '#/components/schemas/BankAccountAddressDTO'
        bankName:
          type: string
        beneficiaryName:
          type: string
        bic:
          type: string
        canRemove:
          type: boolean
        description:
          type: string
        externalAccountLinked:
          type: boolean
        externalAccountStatus:
          enum:
          - AccountLocked
          - AccountMissing
          - AccountNotSetUp
          - AccountNotSupported
          - Connected
          - Disconnected
          - ExternalError
          - InstitutionNotSupported
          - InvalidCredentials
          - InvalidPin
          - InvalidToken
          - MFANotSupported
          - MFAReset
          - ModifiedBankInfo
          - NotConfigured
          type: string
        extraInfo:
          additionalProperties:
            type: object
          type: object
        iban:
          type: string
        id:
          format: int64
          type: integer
        isoCountryCode:
          enum:
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BU
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CP
          - CR
          - CS
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DG
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EA
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - EU
          - EZ
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - FX
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - 'NO'
          - NP
          - NR
          - NT
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SF
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SU
          - SV
          - SX
          - SY
          - SZ
          - TA
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UK
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XK
          - YE
          - YT
          - YU
          - ZA
          - ZM
          - ZR
          - ZW
          type: string
        isoCurrencyCode:
          type: string
        miscBankFee:
          $ref: '#/components/schemas/AlignMonetaryAmount'
        routingNumber:
          type: string
        shortIdentifierDomestic:
          type: string
        shortIdentifierInternational:
          type: string
        status:
          enum:
          - Active
          - Deleted
          - Inactive
          - Inactiving
          - Closed
          type: string
        validationStatus:
          additionalProperties:
            type: object
          type: object
        verificationReason:
          additionalProperties:
            type: object
          type: object
        verificationStatus:
          enum:
          - Unverified
          - VerificationInProgress
          - Verified
          - CannotBeVerified
          - NeedMoreInfo
          type: string
      title: BankAccountResponse
      type: object
    CryptoWalletAddCurrencyRequest:
      description: Request payload for adding a currency or route to a crypto wallet application.
      properties:
        destinationCurrency:
          description: The destination currency for settlement.
          type: string
        destinationPaymentRail:
          description: The destination payment rail for settlement.
          type: string
        sourceChain:
          description: The source blockchain for the crypto wallet.
          type: string
        sourceCurrency:
          description: The source currency for the crypto wallet.
          type: string
      title: CryptoWalletAddCurrencyRequest
      type: object
    CryptoWalletLiquidationAddressResponse:
      description: Liquidation address details for a crypto wallet.
      properties:
        address:
          description: The liquidation wallet address.
          type: string
        bridgeWalletId:
          description: Identifier of the wallet at the Bridge provider.
          type: string
        createdAt:
          description: Timestamp when the liquidation address was created.
          type: string
        destinationCurrency:
          description: The destination currency.
          type: string
        destinationPaymentRail:
          description: The destination payment rail.
          type: string
        liquidationAddressId:
          description: Unique identifier of the liquidation address.
          type: string
        sourceChain:
          description: The source blockchain.
          type: string
        sourceCurrency:
          description: The source currency.
          type: string
        state:
          description: Current state of the liquidation address.
          type: string
        updatedAt:
          description: Timestamp when the liquidation address was last updated.
          type: string
      title: CryptoWalletLiquidationAddressResponse
      type: object
    CryptoWalletProvisionResponse:
      description: Provisioning result for a crypto wallet application currency or route.
      properties:
        applicationId:
          description: Unique identifier of the crypto wallet application.
          format: int64
          type: integer
        applicationStatus:
          description: Current status of the application.
          type: string
        bridgeCustomerId:
          description: Identifier of the customer at the Bridge provider.
          type: string
        bridgeCustomerStatus:
          description: Status of the customer at the Bridge provider.
          type: string
        bridgeWalletAddress:
          description: Wallet address at the Bridge provider.
          type: string
        bridgeWalletId:
          description: Identifier of the wallet at the Bridge provider.
          type: string
        destinationCurrency:
          description: The destination currency.
          type: string
        destinationPaymentRail:
          description: The destination payment rail.
          type: string
        fundingMethodId:
          description: Identifier of the funding method.
          format: int64
          type: integer
        fundingMethodStatus:
          description: Status of the funding method.
          type: string
        fundingMethodType:
          description: Type of the funding method.
          type: string
        liquidationAddress:
          $ref: '#/components/schemas/CryptoWalletLiquidationAddressResponse'
          description: Liquidation address details for the provisioned wallet.
        provider:
          description: The provider backing the crypto wallet.
          type: string
        routeId:
          description: Unique identifier of the provisioned route.
          format: int64
          type: integer
        routeStatus:
          description: Status of the provisioned route.
          type: string
        sourceChain:
          description: The source blockchain.
          type: string
        sourceCurrency:
          description: The source currency.
          type: string
      title: CryptoWalletProvisionResponse
      type: object
    VeemErrorResponse:
      properties:
        code:
          description: The error code, different than HTTP status codes
          format: int32
          type: integer
        fileName:
          description: The filename where the exception was thrown
          type: string
        lineNumber:
          description: The line number where the exception was thrown
          format: int32
          type: integer
        logTag:
          description: Request log tag
          type: string
        message:
          description: The detailed, developer friendly message
          type: string
        timestamp:
          description: The timestamp recorded when the error occurred
          type: string
      required:
      - code
      - logTag
      - message
      title: VeemErrorResponse
      type: object
    BusinessAddressRequest:
      properties:
        city:
          description: City
          type: string
        countryCode:
          description: Country Code
          enum:
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BU
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CP
          - CR
          - CS
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DG
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EA
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - EU
          - EZ
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - FX
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - 'NO'
          - NP
          - NR
          - NT
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SF
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SU
          - SV
          - SX
          - SY
          - SZ
          - TA
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UK
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XK
          - YE
          - YT
          - YU
          - ZA
          - ZM
          - ZR
          - ZW
          type: string
        postalCode:
          description: Postal Code
          type: string
        province:
          description: Province
          type: string
        street:
          description: Type of entity
          type: string
        streetSecondary:
          description: Address additional information
          type: string
      required:
      - city
      - countryCode
      - postalCode
      - province
      - street
      title: BusinessAddressRequest
      type: object
    ContactBusinessRequest:
      properties:
        address:
          $ref: '#/components/schemas/BusinessAddressRequest'
        entity:
          description: Type of entity
          type: string
        taxIdNumber:
          description: TaxId of the individual or business
          type: string
      required:
      - address
      - entity
      - taxIdNumber
      title: ContactBusinessRequest
      type: object
    ErrorResponse:
      properties:
        code:
          description: The error code, different than HTTP status codes
          format: int32
          type: integer
        error:
          description: The short message
          type: string
        message:
          description: The detailed, developer friendly message
          type: string
        timestamp:
          description: The timestamp recorded when the error occurred
          type: string
      required:
      - code
      - error
      - message
      title: ErrorResponse
      type: object
    ExchangeRateResponse:
      properties:
        expiry:
          description: The expiry time of the current rate quote
          format: date-time
          type: string
        fromAmount:
          description: The source amount, either from or to amount is allowed, the other one is calculated
          type: number
        fromCurrency:
          description: The source currency
          enum:
          - AED
          - AFN
          - ALL
          - AMD
          - ANG
          - AOA
          - ARS
          - AUD
          - AWG
          - AZN
          - BAM
          - BBD
          - BDT
          - BGN
          - BHD
          - BIF
          - BMD
          - BND
          - BOB
          - BOV
          - BRL
          - BSD
          - BTN
          - BWP
          - BYN
          - BYR
          - BZD
          - CAD
          - CDF
          - CHE
          - CHF
          - CHW
          - CLF
          - CLP
          - CNY
          - COP
          - COU
          - CRC
          - CUC
          - CUP
          - CVE
          - CZK
          - DJF
          - DKK
          - DOP
          - DZD
          - EGP
          - ERN
          - ETB
          - EUR
          - FJD
          - FKP
          - GBP
          - GEL
          - GHS
          - GIP
          - GMD
          - GNF
          - GTQ
          - GYD
          - HKD
          - HNL
          - HRK
          - HTG
          - HUF
          - IDR
          - ILS
          - INR
          - IQD
          - IRR
          - ISK
          - JMD
          - JOD
          - JPY
          - KES
          - KGS
          - KHR
          - KMF
          - KPW
          - KRW
          - KWD
          - KYD
          - KZT
          - LAK
          - LBP
          - LKR
          - LRD
          - LSL
          - LTL
          - LYD
          - MAD
          - MDL
          - MGA
          - MKD
          - MMK
          - MNT
          - MOP
          - MRO
          - MRU
          - MUR
          - MVR
          - MWK
          - MXN
          - MXV
          - MYR
          - MZN
          - NAD
          - NGN
          - NIO
          - NOK
          - NPR
          - NZD
          - OMR
          - PAB
          - PEN
          - PGK
          - PHP
          - PKR
          - PLN
          - PYG
          - QAR
          - RON
          - RSD
          - RUB
          - RUR
          - RWF
          - SAR
          - SBD
          - SCR
          - SDG
          - SEK
          - SGD
          - SHP
          - SLL
          - SOS
          - SRD
          - SSP
          - STD
          - STN
          - SVC
          - SYP
          - SZL
          - THB
          - TJS
          - TMT
          - TND
          - TOP
          - TRY
          - TTD
          - TWD
          - TZS
          - UAH
          - UGX
          - USD
          - USN
          - USS
          - UYI
          - UYU
          - UZS
          - VEF
          - VND
          - VUV
          - WST
          - XAF
          - XAG
          - XAU
          - XBA
          - XBB
          - XBC
          - XBD
          - XCD
          - XDR
          - XOF
          - XPD
          - XPF
          - XPT
          - XSU
          - XTS
          - XUA
          - XXX
          - YER
          - ZAR
          - ZMW
          - ZWL
          type: string
        id:
          description: The quote id
          type: string
        rate:
          description: The Veem exchange rate for current transfer
          type: number
        timeCreated:
          description: The quote generation time
          format: date-time
          type: string
        toAmount:
          description: The target amount, either from or to amount is allowed, the other one is calculated
          type: number
        toCurrency:
          description: The target currency
          enum:
          - AED
          - AFN
          - ALL
          - AMD
          - ANG
          - AOA
          - ARS
          - AUD
          - AWG
          - AZN
          - BAM
          - BBD
          - BDT
          - BGN
          - BHD
          - BIF
          - BMD
          - BND
          - BOB
          - BOV
          - BRL
          - BSD
          - BTN
          - BWP
          - BYN
          - BYR
          - BZD
          - CAD
          - CDF
          - CHE
          - CHF
          - CHW
          - CLF
          - CLP
          - CNY
          - COP
          - COU
          - CRC
          - CUC
          - CUP
          - CVE
          - CZK
          - DJF
          - DKK
          - DOP
          - DZD
          - EGP
          - ERN
          - ETB
          - EUR
          - FJD
          - FKP
          - GBP
          - GEL
          - GHS
          - GIP
          - GMD
          - GNF
          - GTQ
          - GYD
          - HKD
          - HNL
          - HRK
          - HTG
          - HUF
          - IDR
          - ILS
          - INR
          - IQD
          - IRR
          - ISK
          - JMD
          - JOD
          - JPY
          - KES
          - KGS
          - KHR
          - KMF
          - KPW
          - KRW
          - KWD
          - KYD
          - KZT
          - LAK
          - LBP
          - LKR
          - LRD
          - LSL
          - LTL
          - LYD
          - MAD
          - MDL
          - MGA
          - MKD
          - MMK
          - MNT
          - MOP
          - MRO
          - MRU
          - MUR
          - MVR
          - MWK
          - MXN
          - MXV
          - MYR
          - MZN
          - NAD
          - NGN
          - NIO
          - NOK
          - NPR
          - NZD
          - OMR
          - PAB
          - PEN
          - PGK
          - PHP
          - PKR
          - PLN
          - PYG
          - QAR
          - RON
          - RSD
          - RUB
          - RUR
          - RWF
          - SAR
          - SBD
          - SCR
          - SDG
          - SEK
          - SGD
          - SHP
          - SLL
          - SOS
          - SRD
          - SSP
          - STD
          - STN
          - SVC
          - SYP
          - SZL
          - THB
          - TJS
          - TMT
          - TND
          - TOP
          - TRY
          - TTD
          - TWD
          - TZS
          - UAH
          - UGX
          - USD
          - USN
          - USS
          - UYI
          - UYU
          - UZS
          - VEF
          - VND
          - VUV
          - WST
          - XAF
          - XAG
          - XAU
          - XBA
          - XBB
          - XBC
          - XBD
          - XCD
          - XDR
          - XOF
          - XPD
          - XPF
          - XPT
          - XSU
          - XTS
          - XUA
          - XXX
          - YER
          - ZAR
          - ZMW
          - ZWL
          type: string
      required:
      - expiry
      - fromCurrency
      - id
      - rate
      - timeCreated
      - toAmount
      - toCurrency
      title: ExchangeRateResponse
      type: object
    FileAttachment:
      properties:
        name:
          description: The name of the file (including the extension)
          type: string
        referenceId:
          description: The file reference id received from Veem after file upload is complete
          type: string
        type:
          description: The type of the file
          enum:
[...]
